@using AutoLib.Models.Domain
@using AutoLib.Controllers
@{
    ViewData["Title"] = "Details";

    IEnumerable<Borne> bornes = ViewData["bornes"] as IEnumerable<AutoLib.Models.Domain.Borne>;

    autolibContext autolibContext = new autolibContext();
    VehiculeController vehiculeController = new VehiculeController(autolibContext);
    TypeVehiculeController typeVehiculeController = new TypeVehiculeController(autolibContext);
}

<h2 class="text-center text-secondary">Choisissez votre véhicule</h2>

<table class="table">
    <thead>
        <tr>
            <th>Numéro de borne</th>
            <th>Nom du véhicule</th>
            <th>Catégorie</th>
            <th>Niveau de batterie</th>
            <th>Réserver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borne in bornes)
        {
            int? vehiculeId = @borne.IdVehicule;
            if (vehiculeId != null)
            {
                Vehicule vehicule = vehiculeController.GetVehicule((int)vehiculeId);
                TypeVehicule typeVehicule = typeVehiculeController.getTypeVehicule(vehicule.TypeVehicule);
                if (vehicule.Disponibilite == "LIBRE")
                {
                    <tr>
                        <td>@borne.IdBorne</td>
                        <td>@typeVehicule.TypeVehicule1</td>
                        <td>@typeVehicule.Categorie</td>
                        <td>@vehicule.EtatBatterie</td>
                        <td>
                            <form asp-controller="Reservation" asp-action="Confirm" method="POST">
                                <input type="text" name="VehiculeId" value=@vehicule.IdVehicule hidden>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
                                    Réserver
                                </button>

                                <!-- Modale -->
                                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Confirmation de réservation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir confirmer cette réservation ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                <button type="submit" class="btn btn-primary">Confirmer</button>
                                            </div>
                                        </div>
                                    </div>

                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


<!-- Modale -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de réservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir confirmer cette réservation ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>

