@using AutoLib.Models.Domain
@using AutoLib.Controllers
@{
    ViewData["Title"] = "Details";

    IEnumerable<Borne> bornes = ViewData["bornes"] as IEnumerable<AutoLib.Models.Domain.Borne>;

    autolibContext autolibContext = new autolibContext();
    VehiculeController vehiculeController = new VehiculeController(autolibContext);
    TypeVehiculeController typeVehiculeController = new TypeVehiculeController(autolibContext);
}

<h1>Station : @ViewData["station"]</h1>

<h2 class="text-center text-secondary">Choisissez votre véhicule</h2>

<table class="table">
    <thead>
        <tr>
            <th>Numéro de borne</th>
            <th>Nom du véhicule</th>
            <th>Catégorie</th>
            <th>Niveau de batterie</th>
            <th>Réserver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borne in bornes)
        {
            int? vehiculeId = @borne.IdVehicule;
            if (vehiculeId != null)
            {
                Vehicule vehicule = vehiculeController.GetVehicule((int)vehiculeId);
                TypeVehicule typeVehicule = typeVehiculeController.getTypeVehicule(vehicule.TypeVehicule);
                <tr>
                    <td>@borne.IdBorne</td>
                    <td>@typeVehicule.TypeVehicule1</td>
                    <td>@typeVehicule.Categorie</td>
                    <td>@vehicule.EtatBatterie</td>
                    <td><button class="btn btn-primary">Réserver</button></td>
                </tr>
            }
        }
    </tbody>
</table>


